<div class="separation_line"></div>
<footer class="bg-primary text-white text-center text-lg-start" style="background-color: #000000 !important;">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase" style="margin-bottom: 15px;">Footer Content</h5>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
            molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
            voluptatem veniam, est atque cumque eum delectus sint!
          </p>
        </div>
  
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase" style="margin-bottom: 15px;">Links</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a routerLink="/privacy" target="_blank" class="text-white">Privacy Policy</a>
            </li>
            <li>
              <a routerLink="/cookies" target="_blank"class="text-white">Cookies Policy</a>
            </li>
            <li>
              <a routerLink="/legal" target="_blank" class="text-white">Legal Notice</a>
            </li>
            <li>
              <a routerLink="/contact" class="text-white">Contact</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase" style="margin-bottom: 15px;">Social Networks</h5>
          <ul class="list-unstyled mb-0">
            <li>
                <img src="/assets/twitter.png" alt="" width="25px">
              <a href="https://twitter.com/NeutrinosUGR" target="_blank" class="text-white">Twitter</a> 
            </li>
            <li style="margin-top: 10px;">
                <img src="/assets/instagram.png" alt="" width="25px">
              <a href="#" class="text-white">(Instagram)</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
    <div class="text-center p-3" style="background-color: #002e59">
      © 2022
      <a class="text-white" href="https://www.ugr.es/" target="_blank">University Of Granada</a>
    </div>
  </footer>

