<!-- <nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/" style="color:white">Neutrino</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/login" style="color:white; padding-top: 10px;">Iniciar Sesión</a>
          </li>
        </ul>
      </div>

      <button class="btn btn-danger" (click)="logoutService()">Cerrar Sesión</button>

    </div>
  </nav> -->

  <nav class="navbar fixed-top navbar-expand-lg bg-dark" style="height: 65px;">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/" style="color:white"><img src="/assets/neutrino_logo.png" alt="" width="180px"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav navbar-center me-auto mb-2 mb-lg-0" >
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/login" style="color:white; padding-top: 10px; font-size: 20px; border-left: 2px solid white; padding-left: 20px;">Iniciar Sesión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="#" style="color:white; padding-top: 10px; font-size: 20px;">Research</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="#" style="color:white; padding-top: 10px; font-size: 20px;">Group Members</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="#" style="color:white; padding-top: 10px; font-size: 20px;">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="#" style="color:white; padding-top: 10px; font-size: 20px;">Publications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="#" style="color:white; padding-top: 10px; font-size: 20px;">Talks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="#" style="color:white; padding-top: 10px; font-size: 20px;">Thesis</a>
          </li>
        </ul>
      </div>

      <button class="btn btn-danger" (click)="logoutService()">Cerrar Sesión</button>

    </div>
  </nav>

  <div style="margin-bottom: 175px;"></div>
  