<!-- <nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/" style="color:white">Neutrino</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/login" style="color:white; padding-top: 10px;">Iniciar Sesión</a>
          </li>
        </ul>
      </div>

      <button class="btn btn-danger" (click)="logoutService()">Cerrar Sesión</button>

    </div>
  </nav> -->

  <nav class="navbar fixed-top navbar-expand-lg" style="height: 95px; background: #002e59;">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/" style="color:white; border-bottom: 1px solid white; border-top: 1px solid;padding: 8px 0;"><img src="/assets/image.png" alt="" width="180px"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav navbar-center me-auto mb-2 mb-lg-0" >
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/login" style="color:white; padding-top: 10px; font-size: 20px; border-left: 2px solid white; padding-left: 20px;">Iniciar Sesión</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/research" style="color:white ; padding-top: 10px; font-size: 22px;border-left: 2px solid #ffc107; padding-left: 20px;">Research</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/members" style="color: white; padding-top: 10px; font-size: 22px;">Group Members</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/news" style="color:white ; padding-top: 10px; font-size: 22px;">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/publications" style="color:white ; padding-top: 10px; font-size: 22px;">Publications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/talks" style="color:white ; padding-top: 10px; font-size: 22px;">Talks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/thesis" style="color:white ; padding-top: 10px; font-size: 22px; border-right: 2px solid #ffc107; padding-right: 20px;">Thesis</a>
          </li>
        </ul>
      </div>

      <!-- <button class="btn btn-danger" (click)="logoutService()">Cerrar Sesión</button> -->
      <a class="navbar-brand" href="https://www.ugr.es/" target="_blank" style="color:white"><img src="/assets/ugr_logo_2.jpg" alt="" width="250px"></a>
    </div>
  </nav>
  <div style="margin-bottom: 95px;"></div>

