<app-header></app-header>
<br>
<h2>CREATE Group Members PAGE</h2>
<br>
<br>
<div style="text-align: center;">
    <h4>Antonio Bueno Villar</h4> <a target="_blank" href="https://www.ugr.es/personal/antonio-bueno-villar">https://www.ugr.es/personal/antonio-bueno-villar</a>
    <h4>Patricia Sanchez Lucas</h4> <a target="_blank" href="https://www.ugr.es/personal/patricia-sanchez-lucas">https://www.ugr.es/personal/patricia-sanchez-lucas</a>
    <h4>Bruno Zamorano García</h4> <a target="_blank" href="https://www.ugr.es/personal/bruno-zamorano-garcia">https://www.ugr.es/personal/bruno-zamorano-garcia</a>
    <h4>Diego García Gámez</h4> <a target="_blank" href="https://www.ugr.es/personal/diego-garcia-gamez">https://www.ugr.es/personal/diego-garcia-gamez</a>
    <h2>.</h2>
    <h2>.</h2>
    <h2>.</h2>
</div>
<br>
<app-footer></app-footer>