<app-header></app-header>
<br>

<h2>An International Experiment for Neutrino Science</h2>
<br>

<p>
The Deep Underground Neutrino Experiment (DUNE) is a leading-edge, international experiment for neutrino science and proton decay studies. Discoveries over the past half-century have put neutrinos, the most abundant matter particles in the universe, in the spotlight for further research into several fundamental questions about the nature of matter and the evolution of the universe — questions that DUNE will seek to answer.
DUNE will consist of two neutrino detectors placed in the world’s most intense neutrino beam. One detector will record particle interactions near the source of the beam, at the Fermi National Accelerator Laboratory in Batavia, Illinois. A second, much larger, detector will be installed more than a kilometer underground at the Sanford Underground Research Laboratory in Lead, South Dakota — 1,300 kilometers downstream of the source. These detectors will enable scientists to search for new subatomic phenomena and potentially transform our understanding of neutrinos and their role in the universe.
</p>

<br>
<img src="/assets/dune.jpg" width="80%" style="display:block; margin:auto;">
<br>

<app-footer></app-footer>